.profile-dropdown {
    position:absolute;
    background-color: white;
    padding-left: .5em;
}

.profile-dropdown li {
    display: block;
}

.profile-dropdown-profile #link {
    text-decoration: none;
    color: #b0a4a6
}

.profile-dropdown-profile #link:hover {
    color: #4c4c4c
}
