/* .profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
} */


header {
    margin-top: 5em;
    position: relative;
    margin-bottom: 7em;
}

.profile-rent-sell-buy {
    /* position: absolute; */
    top: -2.5em;
    right: 7em;
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1em;
    color: #b0a4a6;
    font-size: 1.0em;

}

.header-underline {
    height: .1em;
    width: 80%;
    background-color: #b0a4a680;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.sidebar {
    margin-top: em;
    background-color: white;
    height: 48em;
    display: inline-block;



}

.sidebar ul {
    margin-top: 20em;
    margin-right: 5em;
    margin-left: 6em;
}

.sidebar li{
    display: block;
    margin: .4em;


}

.sidebar button {
    font-size: 1.2em;
    font-weight: 400;
}

main.main-profile-page {
    display: inline-block;
    margin-top: 0;
}
