
.footer-container {
    color: white;
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #e4d8da;
  text-align: center;
  margin-top: 2em;
  height: 5em;

}

.footer-name {
  display: inline;
}

.footer-name p{
  font-family: 'Shippori Mincho', serif;
}

.footer-linkedin {
  display: inline;
}

.footer-container img {

  height: 30px;
}
