/* TODO Add site wide styles */
/* .main-headline {
    font-family: 'Shippori Mincho', serif;
} */

body {
    margin: 0;
}

* {
    font-family: bilo, sans-serif;
    font-weight: 100;
    font-style: normal;
}

html {
    background-color: #f8f8f8;
}
