nav {
    background-color: #665965;

}

li {
    list-style-type: none;
    display: inline-block;
    padding: 1em;
}
li img {
    height: 2em;
    width: auto;

}

.yellow {
    background-color: yellow;
}

.active {
    font-family: cursive;
}
